body {
	font-size: 14px;
}

button {
	@include button(pill);
	width: 200px;
}
#container {
	width: 1000px;
	margin: 20px auto;
/*	background: gray */;
}

#title {
	width: 100%;
	color: white;
	background: gray;
	text-align: center;
	text-decoration: underline;
}

.cell.loan-column-header {
	background: white;
	text-align: center;
	border: 2px solid black;
	@include border-radius(6px);	
  font-weight: bold;
}

.rowgroup {

  @include linear-gradient(#fff132,#f2eb2e); 
	background: yellow;
	border: 2px solid black;
	margin-bottom: 5px;
	@include border-radius(6px);
}

.column {
	float: left;
	width: 200px;
	background: gray;		
}
.row {
	/*background: yellow*/;
	width: 100%;
	margin: 5px;
}

.cell.narrow {
	width: 10px;
}

.cell.wide {
	width: 300px;
}

.cell {
	/*background: yellow*/;
	display: inline-block;
	width: 100px;
	margin-left: 5px;
}

button {
	width: 100px;
	padding: 3px 3px 5px 3px;
}


input#whole_rate {
	width: 1em;
}
input#frac_rate {
	width: 2em;
}
input#loan_term {
	width: 2em;
}
input#principal_thousands {
	width: 2em;
}
input#principal_singles {
	width: 2em;
}
#notice {
	width: 100%;
	margin: 10px 0 10px 0;
	border: 1px solid;
	border-color: red;
	text-align: center;
	color: red;
	font-weight: bold;
}

.row.inbody {
  margin-left: 5px;
}


