<h1>--</h1>
<button>test me out</button>
<div id="container">
	<div class="row">
		<div class="cell">
			-
		</div>
		<div class="cell" style="background: white; ">
			Loan 1
		</div>
		</div>
	<div class="rowgroup">
		<div class="row">
			<div class="cell">
				monthly payment:
			</div> 
			<div class="cell" >
				$<span id="pmt1">dummy</span>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				extra cost vs lowest payment option:
			</div>
			<div class="cell"> 
				$<input type="text" readonly="readonly" value="0" size=3>
			</div>
		</div>
	</div>
	<div class="rowgroup">
		<div class="row">
			<div class="cell">
				interest rate:
			</div>
			<div class="cell">
				<input type="text" id="whole_rate1" size=1 value="3">.<input type="text" id="frac_rate1" size=1 value="00">%
			</div>
		</div>
		<div class="row">
			<div class="cell">
				loan term (years):
			</div>
			<div class="cell">
				<input id="term1" type="text" size="2" value="30"> yrs
			</div>
		</div>	
		<div class="row">
			<div class="cell">
				loan amount:
			</div>
			<div class="cell">
				$<input id="principal_thousands1" type="text" size=3 value="100">,<input id="principal_singles1" type="text" size=3 value="000">
			</div>
		</div>
	</div>
</div> 
